NEXT_PUBLIC_SITE_URL=https://www.chinafreeweight.com
RESEND_API_KEY=your_resend_api_key
CONTACT_TO_EMAIL=kloe@powerbasefit.com
CONTACT_FROM_EMAIL="PowerBaseFit Website <inquiry@chinafreeweight.com>"
CONTACT_WEBHOOK_URL=
